COMPOSE_PROJECT_NAME=bigdata_lab_v4_full
TZ=Asia/Phnom_Penh
POSTGRES_DB=metastore
POSTGRES_USER=hive
POSTGRES_PASSWORD=hivepassword
TRINO_HTTP_PORT=8081
HIVE_SERVER_PORT=10000
HIVE_METASTORE_PORT=9083
JUPYTER_PORT=8888
SPARK_MASTER_UI_PORT=8080
SPARK_WORKER_UI_PORT=8082
NAMENODE_HTTP_PORT=9870
NAMENODE_RPC_PORT=9000
DATANODE_HTTP_PORT=9864
YARN_RM_PORT=8088
YARN_NM_PORT=8042
MAPRED_HISTORY_PORT=19888
